<div class="container" style="padding-top:60px">
  <div class="row">
    <section class="main col-md-9">
      <article>
        <h2>About</h2>
        <p>My name is Yashan chaudhary and I'm a student in Seneca College.</p>
            <p>I am currently on a two-year course cpp which stands for computer programming.</p>
            <p>I like to meet new people and socialize.</p>
            <p>I am also intrested in watching and playing football(soccer).</p>
            <p>I would like to persue my future in computer programming,</p> 
      </article>
    </section>
    <aside class="col-md-3">
      <h2>Coming Soon</h2>
      <p class="p-italic">Stay tuned for future updates…</p>
    </aside>
  </div>
</div>